---
import Layout from '../layout/Layout.astro'

const BACKEND = import.meta.env.BACKEND
const URL = import.meta.env.URL

type Service = {
	id: number
	title: string
	content: string
	image: string
	altImage: string
	order: number
}

let services: Service[] = []

try {
	const res = await fetch(`${BACKEND}/services`, {
		headers: { 'Content-Type': 'application/json', url: URL },
	})
	if (res.status !== 200) {
		console.log('Error GET Services: ', res.status, res.statusText)
	}
	services = await res.json()
} catch (error) {
	console.log('ERROR DE CONEXION. Contacte al administrador!!!!', error)
}

// const services = [
// 	{
// 		image: '/blackwing-astro/images/servicio-1.png',
// 		alt: 'Servicio 1',
// 		title: 'Gestión patrimonial',
// 		content:
// 			'Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis suscipit harum at ipsum ea similique mollitia quod eaque illo amet, numquam ex veritatis molestias possimus. Veritatis esse a in reiciendis?',
// 	},

// 	{
// 		image: '/blackwing-astro/images/servicio-2.png',
// 		alt: 'Servicio 2',
// 		title: 'Atención personalizada',
// 		content:
// 			'Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis suscipit harum at ipsum ea similique mollitia quod eaque illo amet, numquam ex veritatis molestias possimus. Veritatis esse a in reiciendis?',
// 	},

// 	{
// 		image: '/blackwing-astro/images/servicio-3.png',
// 		alt: 'Servicio 3',
// 		title: 'Auditorias',
// 		content:
// 			'Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis suscipit harum at ipsum ea similique mollitia quod eaque illo amet, numquam ex veritatis molestias possimus. Veritatis esse a in reiciendis?',
// 	},

// 	{
// 		image: '/blackwing-astro/images/servicio-4.png',
// 		alt: 'Servicio 4',
// 		title: 'Asesoramiento técnico',
// 		content:
// 			'Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis suscipit harum at ipsum ea similique mollitia quod eaque illo amet, numquam ex veritatis molestias possimus. Veritatis esse a in reiciendis?',
// 	},

// 	{
// 		image: '/blackwing-astro/images/servicio-5.png',
// 		alt: 'Servicio 5',
// 		title: 'Capacitaciones',
// 		content:
// 			'Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis suscipit harum at ipsum ea similique mollitia quod eaque illo amet, numquam ex veritatis molestias possimus. Veritatis esse a in reiciendis?',
// 	},

// 	{
// 		image: '/blackwing-astro/images/servicio-6.png',
// 		alt: 'Servicio 6',
// 		title: 'Certificaciones',
// 		content:
// 			'Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis suscipit harum at ipsum ea similique mollitia quod eaque illo amet, numquam ex veritatis molestias possimus. Veritatis esse a in reiciendis?',
// 	},
// ]
---

<Layout>
	<header class="heroserv">
		<div
			class="flex md:flex-row flex-col-reverse items-center justify-center max-w-[90%] my-0 mx-auto gap-8"
		>
			<div class="py-8 px-0 text-white text-center w-full md:w-1/2">
				<h2 class="text-3xl font-medium text-center py-4">
					Nuestros servicios
				</h2>
				<p class="py-4">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem
					voluptatum eligendi minus sequi commodi culpa
				</p>
				<a href="/blackwing-astro/contact"
					>Asesorate con nuestros especialiestas</a
				>
			</div>
			<div class="max-w-full w-full md:w-1/2">
				<img
					src="/blackwing-astro/images/hero_services-opt.png"
					alt="Nuestros servicios"
				/>
			</div>
		</div>
	</header>

	<main>
		<section class="p-8 text-bg-mode">
			<div
				class="max-w-[61.25rem] my-0 mx-auto flex items-center justify-center gap-8 flex-wrap"
			>
				{
					services.length > 0 &&
						services.map((service) => (
							<div class="py-4 max-w-[18.75rem] flex-grow flex-shrink basis-[18.75rem] hover:shadow-lg dark:hover:shadow-white">
								<div class="max-w-[3.175rem] my-0 mx-auto">
									<img
										class="w-full block bg-slate-100 rounded-full"
										src={service.image}
										alt={service.altImage}
									/>
								</div>
								<div>
									<h3 class="p-4 text-center">
										<strong>{service.title}</strong>
									</h3>
									<p class="px-3">{service.content}</p>
								</div>
							</div>
						))
				}
			</div>
		</section>
	</main>

	<style>
		.heroserv {
			background: linear-gradient(
				116deg,
				#ff3a3a -15.11%,
				#ae249a 51.46%,
				#081ea9 113.99%
			);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			min-height: -moz-fit-content;
			min-height: fit-content;
		}
	</style>
</Layout>
